/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Modal Header */
.modal .modal-header {
    padding: 2px 16px;
    background-color: var(--eysan-color1);
}

.modal .modal-header h2 {
    color: white;
    margin: 0.83em 0;
}

/* The Close Button */
.modal .modal-header .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.modal .modal-header .close:hover,
.modal .modal-header .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Body */
.modal .modal-body {
    padding: 20px 20px;
}

/* Modal Footer */
.modal .modal-footer {
    padding: 2px 16px;
    background-color: var(--eysan-color2);
    color: white;
}

.modal .modal-footer h3 {
    color: white;
    margin: 0.83em 0;
}

  
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
